<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Мое Портфолио</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <!-- Текстовый блок -->
    <h2 class="mb-3">Обо мне</h2>
    <p>Я профессионал с многолетним опытом в области веб-разработки и дизайна. Моя цель - создавать уникальные и качественные проекты, которые помогут моим клиентам выделиться на рынке. Я всегда стремлюсь к совершенству в каждой детали, начиная от дизайна и заканчивая функциональностью. В своей работе я использую современные технологии и подходы, чтобы обеспечить высочайший уровень качества. Благодаря моему вниманию к деталям и страсти к инновациям, я создаю проекты, которые не только соответствуют, но и превосходят ожидания клиентов.</p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>