<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Мое Портфолио</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <!-- Текстовый блок -->
    <h2 class="mb-3">Обо мне</h2>
    <p>Я профессионал с многолетним опытом в области веб-разработки и дизайна. Моя цель - создавать уникальные и качественные проекты, которые помогут моим клиентам выделиться на рынке. Я всегда стремлюсь к совершенству в каждой детали, начиная от дизайна и заканчивая функциональностью. В своей работе я использую современные технологии и подходы, чтобы обеспечить высочайший уровень качества. Благодаря моему вниманию к деталям и страсти к инновациям, я создаю проекты, которые не только соответствуют, но и превосходят ожидания клиентов.</p>
    <p>Имею большой интерес к машинному обучению, решению сложных задач и разработке ВЕБ-приложений (с 2013 года). Постоянно обучаюсь и развиваюсь в профессиональном плане.</p>
</div>
<div class="container mt-5">
    <!-- Текстовый блок -->
    <h2 class="mb-3">Связаться со мной:</h2>
    <p>Написать мне: <a href="mailto:example@example.com">example@example.com</a></p>
    <p>Позвонить мне: <a href="tel:+1234567890">+123 456 7890</a></p>
    <p>Написать в телеграм: <a href="#">сюда (официальный аккаунт)</a></p>
    <p>Посмотреть мои работы <a href="#">можно тут</a></p>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>